.body .footer {
  position: absolute;
  bottom: 0px;
  left: 525px; }
  .body .footer section ul {
    display: flex;
    flex-direction: row;
    list-style: none; }
    .body .footer section ul li a img {
      height: 48px; }

.body section a .perfil {
  max-width: 300px;
  position: absolute;
  top: 130px;
  left: 510px; }

.body section a img {
  max-width: 600px;
  height: 280px;
  transition: all 300ms; }

.body section a .background1 {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 300ms; }

.body section a .background2 {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 300ms; }

.body section a .background4 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: all 300ms; }

.body section a .background3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: all 300ms; }

section a img:hover {
  transform: scale(1.4); }

section a .background1:hover {
  position: absolute;
  top: 40px;
  left: 40px; }

section a .background2:hover {
  position: absolute;
  top: 40px;
  right: 103px; }

section a .background3:hover {
  position: absolute;
  bottom: 58px;
  right: 57px; }

section a .background4:hover {
  position: absolute;
  bottom: 58px;
  left: 40px; }

/*footer*/
footer {
  justify-content: center;
  margin: 0cm auto 0.3cm auto; }
  footer h3 {
    text-align: center;
    font: "Permanent Marker", Arial, Helvetica, sans-serif; }
  footer section {
    display: flex;
    flex-direction: row;
    margin: 5px 20px 5px 20px;
    justify-content: space-between; }
    footer section a img {
      max-width: 24px; }

/*header*/
body div main section img {
  margin: 10px auto 10px auto; }

body div header nav div div a {
  font: "Libre Baskerville", serif; }

body div header nav div a h1 {
  font-weight: bold;
  font: "Permanent Marker", Arial, Helvetica, sans-serif;
  height: 2em; }
