/*main2d*/

.main2d {
    .main-2d{
        .videos2d{
            width: 100%;
            margin-left: 0px;
            .video1-2d{
                max-width: 100%;
                .ti2d{
                    font-family: $parrafo;
                }
            }
            .video2-2d{
                max-width: 100%;
                .ti2d{
                    font-family: $parrafo;
                }
            }
        }
        .img2d{
            width: 100%;
            .ti2d{
                font-family: $parrafo;
            }
            img {
                max-width: 100%;
            }
            
        }
    }
}



@media  screen and (min-width:768px) {
/*main2d*/
.main2d{
    .main-2d{
        display: grid;
        grid-template-columns: 50% 50%;
        height: max-content;
        .videos2d{
            margin: 20px 5px 20px 0px;
            display: flex;
            flex-direction: column;
            
            .video1-2d{
                .ti2d{
                    font-size: 12px;
                    font-weight: bold;
                    margin: 0%;
                }
                height: 100%;
                margin-bottom: 20px;
            }
            .video2-2d{
                .ti2d{
                    font-size: 12px;
                    font-weight: bold;
                    margin: 0%;
                }
                height: 100%;
                margin-bottom: 20px;
            }
        }
        div{
            .ti2d{
                font-size: 12px;
                    font-weight: bold;
                    margin: 0%;
            }
            img{
                margin: 20px 5px 5px 1px;
            }
        }
    }
}

}

