/*footer index*/
.body {
    .footer {
        position: absolute;
        bottom: 0px;
        left: 525px;
        section{            
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                li{
                    a{
                        img{                 
                                height: $spacing*6;                
                            }
                    }
                }            
            }    
        }
    }
/*body index*/
    section {
        
        a {        
            .perfil {
                max-width: 300px;
                position: absolute;
                top: 130px;
                left: 510px;
            }
            img{
                max-width: 600px;
                height: 280px;
                transition: all 300ms;
            }
            .background1 {
                position: absolute;
                left: 0px;
                top: 0px;
                transition: all 300ms;  
            }
            .background2 {                    
                position: absolute;
                top: 0px;
                right: 0px;
                transition: all 300ms;
            }
            .background4 {
                position: absolute;
                left: 0px;
                bottom: 0px;
                transition: all 300ms;
            }
            .background3 {
                position: absolute;
                bottom: 0px;
                right: 0px;
                transition: all 300ms;
            }
        }
    }
}

