body {
    background-color: #88e688;
    
}





/*mainindex*/
.perfil {
    text-align: center;
    font: $tipo-texto;
}
.foto-perfil {
    margin: 10px auto 10px auto;
}
.titulo-perfil{
    font-weight: bold;
}
.span-perfil {
    font-weight: bold;
}
.parrafo-perfil {
    margin: 0px 20px 10px 20px;
}
main{
    text-align: center;
}
p{
    font: $tipo-texto;
}
