//texto
$color_ptexto: #000000;
$color_stexto: #50ff76;
$titulo: 'Permanent Marker', Arial, Helvetica, sans-serif;
$parrafo: 'Libre Baskerville', serif;

$spacing: 8px;

//mixins

@mixin size {
    height: 2em;

}