//texto
$color_ptexto: #000000;
$color_stexto: #50ff76;
$titulo: 'Permanent Marker', Arial, Helvetica, sans-serif;
$parrafo: 'Libre Baskerville', serif;

//general
$spacing: 8px;
$color_fondo: #88e688;

//mixins
@mixin size {
    height: 2em;
}
